.about{
    position: relative;
}
.about-box{
    text-align:center;
}
.about-head{
    background-color: green;
    text-align: center;
    color:white;
    margin: auto auto;
    width: 70%;
    box-shadow: 1px 2px 8px 8px green;
    border-radius: 50%;
}
#tec{
    width: 100%;
    margin: 15% 0 10px 10%;
}
.tec-box{
    width: 80%;
border:2px solid green;
}
.tec-box img{
    width: 95%;
    margin: 3% 0 3% 2.5%;
}
.about-content{
    color: #7a7777;
    margin-top:40px;
    font-weight: bold;
}
#core_img{
    max-width: 70%;
}
#pvm{
height:350px;
}
#pvm-container{
    display:flex;
    justify-content:center;
}

.pvm_box{
    background-color:rgba(128, 194, 36,0.9);
    margin-top: 20px;
    width:20rem;
    height:20rem;
    text-align:center;
    border-radius: 50%;
 box-shadow: 1px 1px 4px 4px rgb(27, 93, 27);
}
.pvm_box h4{
    font-size: 1.7rem;
margin:15px 0 0 auto;
color: #504e4e;
}
.pvm_box p{
    font-size: 1.1rem;
    margin-top: 10px;
    font-weight: bold;
}
#mission{
    position: relative;
}
#vision{
    position: relative;
    top:50px;
    right:38px;
}
#promise{
    position: relative;
    top:100px;
    right:80px;
}

@media screen and (max-width: 900px) {
   .about-box, #pvm{
       margin-top: 30px;
   }
}
@media screen and (min-width: 900px) {
    #pvm {
       position: absolute;
       top: 200px;
    }

    .about-content{
        font-size: 16px;
    }

}