#mybtn{
    width: 300px;
    height: 60px;
    margin: 40px 0 30px 80px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(99, 185, 31, 0.9);
    border-color: #ccced0;
}
#mybtn:hover,
#mybtn:focus{
    background-color: #4f8437;
    box-shadow: 2px 2px 4px 6px rgba(243, 239, 239, 0.9);
    border: none;
    color: rgba(124, 210, 56, 0.9);
}
#myform{
    display: none;
    width: 500px;
    padding: 20px 30px;
    border-radius: 20px;
    background: rgba(121, 132, 115, 0.2);
}
input:focus {
    outline: none;
}	
#myform div{
    margin: 10px 10px;
    width: 400px;
    color: #68c317;
    font-weight: bold;
}
#myform label{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#datepicker{
    width: 400px;
    border-radius: 5px;
}
option{
    background-color: rgba(134, 191, 67, 0.9);
    color: #fff;
}
option:hover,
option:focus{
    background-color: #fff;
    color: #76bb26;
}
#file{
    background-color: #edf1ed;
}
#submit{
    color: #fff;
    background-color: #51a933;
    border-color: #cdd2d6;
    margin-left: 20px;
    width: 80px;
}