
 div.modal div.modal-backdrop {
    z-index: 0;
  }
.modal-content {
    margin-top: 100px;
    text-decoration: none !important;
    height: 250px;
    width: 600px;
 }

 /* cv submit form */
 #mybtn{
  width: 300px;
  height: 60px;
  /* margin: 40px 0 30px 80px; */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(99, 185, 31, 0.9);
  border-color: #ccced0;
  float: right;
}
#mybtn:hover,
#mybtn:focus{
  background-color: #4f8437;
  box-shadow: 2px 2px 4px 6px rgba(243, 239, 239, 0.9);
  border: none;
  color: rgba(124, 210, 56, 0.9);
}