
.testimonial{
  background-color: #f5f5f5;
  max-height: 400px; 
  padding: 0 0 30px 0;
  background-size: cover;
  background-blend-mode: saturation;
  }
  #carousel{
    height: 400px;
  }
  #carousel .container{
    width: 70%;
    height: 280px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #dcd8d8;
  }
  .carousel-inner{
    height: 100%;
    width: 100%;
    background-color: #fdfcfc;
  }
  #fade-carousel{
    height: 100%;
  }
  #fade-carousel p {
      padding: 50px 150px 40px;
       font-size:1.7rem;
        color:rgb(94, 91, 91);
      
        margin-top: 40px;
  }
  .overflow-wrap {
    overflow-wrap: break-word;
  }
  #fade-carousel  span{ 
    color: #5fb137;
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
    }
#fade-carousel i{
  color: black;
}
#fade-carousel .fa{
  color: rgba(255, 255, 255,0.9);
}
  #fade-carousel .carousel-control {
      font-size: 30px;
      color: #fff;
      width: 40px;
      height: 40px;
      line-height: initial;
      background: #55a210; 
    border-radius: 50%;
      top: 45%;   
      margin: 0 20px;
      opacity: 1;
  }
  #fade-carousel .carousel-control:hover,
  #fade-carousel .carousel-control:focus{
    background: grey;
  }
  .testimonial h2{ 
    font-size:35px ; 
    color: #78ea12;
    margin: 40px 0 30px;
    font-weight: bold;
  }